.button {
  cursor: pointer;
  border: 0;
  padding: 8px 16px;
  border-radius: 4px;
  letter-spacing: 1.4px;
  font-size: 10px;
  width: 100%;
  transition: box-shadow 0.5s, opacity 0.5s;

}

.button:hover {
  box-shadow: 2px 2px 4px 1px var(--button-shadow);
}

.default {
  background: var(--background-color);
  border: 1px solid var(--border-color);
}

.primary {
  background: var(--primary-color);
  color: var(--font-color-light);
  box-shadow: 2px 2px 4px 1px #1e514036;
  transition: background 0.5s;
}

.primary:hover {
  background: var(--primary-color-darker);
}

.secondary {
  background: var(--secondary-color);
  color: var(--font-color-light);
  box-shadow: 2px 2px 4px 1px #22222280;
}

.secondary:hover {
  opacity: 0.8
}
