@use '@/assets/stylesheets/mixin' as m;

.footer {
  background: var(--bg-color-light-2);
  width: 100%;
}

.content {
  margin: auto;
  max-width: 1920px;
  padding: 64px 128px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;

  background: #f9f9f9;

  @include m.lg {
    flex-wrap: wrap;
    padding: 16px;
  }
}

.logo {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 4px;
  margin-bottom: 32px;
}

.menu {
  display: flex;
  margin-right: 16px;

  @include m.lg {
    flex-wrap: wrap;
  }
}

.menuItem {
  margin-right: 16px;
  @include m.lg {
    margin-bottom: 64px;
  }
}

.left {
  margin-right: auto;

  @include m.lg {
    margin-bottom: 64px;
  }
}

.right {
  display: flex;
  align-items: center;
}

.menu {

}

.menuItem {
  margin-right: 64px;
}

.menuTitle {
  margin-bottom: 32px;
}

.linkItem {
  margin-bottom: 16px;
}
