@use '../shared/_variable' as v

%blocks
  box-sizing: border-box

%font
  color: v.$font-dark
  font-family: "Inter", "Noto Sans JP", sans-serif
  font-optical-sizing: auto
  font-weight: normal
  font-style: normal



