.container {

}

.text {
  border-radius: 4px;
  padding: 8px 12px;
  border: 1px solid var(--border-color);
  width: 100%;
  font-weight: 300;
}

.text:focus {
  outline: 1.5px solid var(--input-outline-color);
}
