@use '../shared/_variable' as v
.button
  border: 0
  padding: 12px 16px
  border-radius: 8px
  width: 100%

.button--primary
  background: v.$primary-color
  color: v.$font-light

.button--secondary
  background: v.$secondary-color
  color: v.$font-light

