.container {
  display: flex;
  z-index: 1;
  position: absolute;
  width: 100%;
  top: 0;
  height: 0px;
  overflow: hidden;
  background: var(--danger-color);
  color: var(--font-color-light);
  transition: height 0.3s linear;
}

.show {
  height: 48px;
  overflow: auto;
  transition: height all linear;
}

.message {
  margin: auto;
  text-align: center;
}

