.container {
  cursor: pointer;
  width: 100%;
}

.inputContainer {
  background: #fafafa;
  border-radius: 4px;
  min-width: 100%;
  border: 0;
}

.inputContainer:focus {
  outline: 0;
}

.hidden {
  visibility: hidden;
  height: 0;
  width: 0;
}

.show {
  visibility: visible;
  height: auto;
  width: auto;
}

.text {
  min-width: 100%;
}

.placeholder {
  color: var(--font-color-weak);
}
