@use '@/assets/stylesheets/mixin' as m;

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px;
  color: var(--font-color-dark);

  position: absolute;
  top: 0px;

  z-index: var(--z-index-public-header);
}

.logo {
  display: flex;
}

.logoImage {
  margin-right: 8px;
}

.logo a {
  color: var(--font-color-dark);
  text-decoration: none;
}

.logoText {
  font-size: 14px;
}

.logoContent {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  margin-right: 16px;

  @include m.lg {
    display: none;
  }
}

.menuItem {
  margin-right: 16px;
  font-size: 12px;
}

.menuLink {
  display: inline-block;
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
  transition: color 0.5s;
}

.menuLink:hover {
  color: var(--primary-color-darker);
}

.right {
  display: flex;
  align-items: center;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-width: 240px;

  @include m.lg {
    justify-content: flex-end;
  }
}

.signup {
  @include m.lg {
    display: none;
  }
}

