.checkboxInput
  display: none

.checkbox
  cursor: pointer
  border: 1px solid var(--font-weak-text)
  border-radius: 50%
  height: 28px
  width: 28px
  padding: 4px
  color: var(--font-color-light)
  display: flex
  justify-content: center
  align-items: center

.checked
  background: var(--primary-color)
