.body, .hero {
  box-sizing: border-box;
}

.footer, .review, .price, .features, .header, .hero__catch-phrase {
  color: #2e2e2e;
  font-family: "Inter", "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.hero {
  position: relative;
  background-image: url("../assets/hero-rectangle.svg");
  height: 100vh;
  max-height: 1320px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  overflow: hidden;
}
.hero__background {
  display: flex;
  justify-content: center;
}
.hero__space {
  background-image: url("../assets/hero-space.svg");
  position: absolute;
  top: 0;
  left: -100vw;
  width: 200vw;
  height: 100vh;
  max-height: 1320px;
  animation: 300s linear 0s infinite running slide-space;
}
@media (max-width: 576px) {
  .hero__space {
    display: none;
  }
}
.hero__moon {
  position: absolute;
  top: 10%;
  left: 10%;
}
@media (max-width: 576px) {
  .hero__moon {
    display: none;
  }
}
.hero__earth {
  position: absolute;
  bottom: 0;
  right: 0;
}
@media (max-width: 576px) {
  .hero__earth {
    display: none;
  }
}
.hero__catch-phrase {
  position: absolute;
  top: 35%;
  color: white;
  width: 540px;
}
@media (max-width: 576px) {
  .hero__catch-phrase {
    width: 80%;
  }
}
.hero__catch-phrase-heading {
  text-align: center;
}
.hero__catch-phrase-description {
  text-align: center;
  margin: 32px 0;
}
.hero__catch-phrase-footer {
  padding: 16px 64px;
}

@keyframes slide-space {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100vw);
  }
}
.body {
  position: relative;
  margin: 0;
}

.header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  z-index: 1;
  color: white;
  padding: 16px;
}
.header__right {
  display: flex;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__logo-image {
  width: 50px;
}
.header__logo-title {
  font-size: 24px;
  margin: 0;
}
.header__menu {
  list-style-type: none;
  display: flex;
  margin: 0;
  margin-right: 16px;
}
@media (max-width: 576px) {
  .header__menu {
    display: none;
  }
}
.header__menu-item {
  margin-right: 16px;
}
.header__actions {
  display: flex;
  min-width: 280px;
}
@media (max-width: 576px) {
  .header__actions {
    min-width: auto;
  }
}
.header__action {
  flex: 1;
  padding: 8px;
}
@media (max-width: 576px) {
  .header__action--hide-only-sp {
    display: none;
  }
}

.button {
  border: 0;
  padding: 12px 16px;
  border-radius: 8px;
  width: 100%;
}

.button--primary {
  background: #7A72FF;
  color: white;
}

.button--secondary {
  background: #1C3041;
  color: white;
}

.background {
  margin: 128px 0;
  background-image: url("../assets/background-stars.svg");
  width: 100%;
}

.features__section-title {
  font-size: 18px;
}
.features__section-body {
  padding: 128px 32px;
}
.features__section-title {
  text-align: center;
}
.features__row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 576px) {
  .features__row {
    margin-bottom: 64px;
  }
}
.features__col {
  flex: 1;
  padding: 64px;
}
@media (max-width: 576px) {
  .features__col {
    flex: auto;
    width: 100%;
    padding: 16px;
  }
}
.features__col--image {
  padding: 0;
}
.features__feature-description {
  display: block;
  margin: 32px auto;
  font-size: 20px;
  line-height: 2.5;
  width: 480px;
}
@media (max-width: 576px) {
  .features__feature-description {
    width: 100%;
  }
}
.features__feature-image {
  border-radius: 8px;
  width: 768px;
  height: 480px;
  box-shadow: 1px 1px 8px 4px #eee;
}
@media (max-width: 576px) {
  .features__feature-image {
    width: 100%;
    height: auto;
  }
}

.price {
  margin-bottom: 400px;
}
.price__header {
  padding: 0 16px;
}
.price__title {
  text-align: center;
  font-size: 18px;
}
.price__subtitle {
  text-align: center;
  font-size: 12px;
  margin-top: 32px;
}
.price__body {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.price__table {
  display: flex;
  justify-content: center;
  margin-top: 128px;
}
@media (max-width: 576px) {
  .price__table {
    flex-wrap: wrap;
    justify-content: normal;
  }
}
.price__table-col {
  box-sizing: border-box;
}
@media (max-width: 576px) {
  .price__table-col {
    padding: 16px;
    margin-bottom: 64px;
    min-width: 100%;
  }
}
.price__plan {
  box-sizing: border-box;
  width: 360px;
  padding: 32px;
  margin-right: 32px;
  border-radius: 8px;
  border: 1px solid #f9f9f9;
  background: #fefefe;
  box-shadow: 1px 1px 8px 4px #f9f9f9;
}
@media (max-width: 576px) {
  .price__plan {
    width: 100%;
    margin: 0;
  }
}
.price__plan-title {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-size: 16px;
}
.price__plan-feature {
  box-sizing: border-box;
  text-align: center;
  background: #f9f9f9;
  border-bottom: 1px solid #fefefe;
  padding: 16px;
  height: 58px;
}
@media (max-width: 576px) {
  .price__plan-feature {
    padding: 0;
    height: auto;
  }
}
.price__plan-feature-header {
  display: none;
  padding: 8px;
  background: #7A72FF;
  color: white;
  font-size: 12px;
}
@media (max-width: 576px) {
  .price__plan-feature-header {
    display: block;
  }
}
.price__plan-feature-text {
  padding: 16px;
}
.price__plan-heading {
  padding: 64px 32px;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 0.2rem;
  white-space: nowrap;
  text-align: center;
}
.price__plan-unit {
  font-size: 12px;
}
@media (max-width: 576px) {
  .price__table-col--hide-only-sp {
    display: none;
  }
}
.price__table-header {
  padding: 32px;
}
.price__plan-header-rows {
  margin-top: 192px;
}
.price__plan-header-row {
  box-sizing: border-box;
  text-align: center;
  background: #fefefe;
  padding: 16px;
  height: 58px;
}

.review {
  padding: 0 128px;
  margin-bottom: 400px;
}
@media (max-width: 576px) {
  .review {
    padding: 0;
  }
}
.review__title {
  text-align: center;
  font-size: 18px;
}
.review__body {
  margin-top: 128px;
  padding: 0 128px;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 576px) {
  .review__body {
    padding: 0;
    flex-wrap: wrap;
  }
}
.review__col {
  margin-right: 32px;
  width: 280px;
}
@media (max-width: 576px) {
  .review__col {
    padding: 16px;
    margin: auto;
    margin-bottom: 32px;
  }
}
.review__avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-bottom: 16px;
}
.review__profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 32px 0;
}
.review__avatar-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.review__name-text {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}
.review__footer {
  margin: 128px 0;
  display: flex;
  justify-content: center;
}
.review__footer-button {
  width: 360px;
}

.footer {
  background: #f9f9f9;
  width: 100%;
}
.footer__body {
  box-sizing: border-box;
  margin: auto;
  max-width: 1920px;
  padding: 64px 128px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 576px) {
  .footer__body {
    padding: 0;
    flex-wrap: wrap;
  }
}
.footer__logo {
  display: flex;
  align-items: center;
}
@media (max-width: 576px) {
  .footer__logo {
    padding: 16px;
  }
}
.footer__logo-image {
  width: 50px;
  height: 100%;
  margin-right: 16px;
}
@media (max-width: 576px) {
  .footer__catch-phrase {
    padding: 16px;
    margin-bottom: 64px;
  }
}
.footer__menu {
  display: flex;
}
@media (max-width: 576px) {
  .footer__menu {
    flex-wrap: wrap;
  }
}
.footer__menu-col {
  margin-right: 64px;
}
@media (max-width: 576px) {
  .footer__menu-col {
    margin: 0;
    margin-bottom: 64px;
    width: 100%;
    padding: 16px;
  }
}
.footer__menu-title {
  margin-bottom: 32px;
}
.footer__menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer__menu-item {
  margin-bottom: 16px;
}
.footer__menu-item-link {
  text-decoration: none;
  color: #2e2e2e;
  margin-right: 16px;
}

/*# sourceMappingURL=style.css.map */
