.container {

}

.text {
  border-radius: 4px;
  padding: 8px 12px;
  width: 100%;
  font-weight: 300;
  font-size: 12px;
  color: var(--font-color-dark);
  border: 0;
  box-shadow: 0px 0px 4px 1px #22222210;
}

.text::placeholder {
  color: var(--border-color);
  font-weight: 300;
}

.text:focus {
  outline: 1.5px solid var(--input-outline-color);
}
