@use '../shared/_variable.sass' as v

.button
  border: 0
  cursor: pointer
  border-radius: 8px
  background: white
  padding: 8px 32px
  font-size: 14px
  letter-spacing: 0.1rem
  &--primary
    background: v.$primary-color
    color: v.$font-color-light

  &--danger
    background: v.$danger-color
    color: v.$font-color-light


