.card {
  padding: 16px;
  height: 180px;
  border: 1px solid #e9e9e9;
  border-radius: 8px;
  margin-bottom: 16px;
  box-shadow: 1px 3px 1px 1px #e9e9e940;
  background: var(--background-color);
  color: var(--font-color-dark-weak);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  opacity: 0.8;
  background: var(--hover-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deadline {
  display: flex;
  align-items: center;
  color: var(--font-color-dark-weak);
}

.label {
  white-space: nowrap;
}

.title {
  font-size: 12px;
  font-weight: 100;
  color: var(--font-color-dark);
}

.deadline > span {
  display: inline-block;
  margin-right: 8px;
}

.deadline > p  {
  font-size: 16px;
  letter-spacing: 0.8px;
  display: inline-block;
}

.goal {
  display: flex;
  align-items: center;
  margin-right: 16px;
  margin-bottom: 8px;
  font-size: 16px;
  color: var(--font-color-dark-weak);
  font-weight: 400;
}

.goal > span {
  font-size: 12px;
  display: inline-block;
  margin-right: 16px;
}

.shouldbe {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 100;
  color: var(--font-color-weak);
}

.shouldbe > span {
  display: inline-block;
  padding-left: 16px;
  margin-right: 8px;
  font-size: 10px;
}

.body {
  padding: 16px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  color: var(--font-color-dark-weak);
}

.stats {
  display: flex;
  align-items: center;
}

.milestone {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.task {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.statsText {
  font-size: 12px;
  color: var(--font-color-dark-weak);
}

.slash {
  font-size: 12px;
  margin: 0 4px;
}

.icon {
  margin-right: 4px;
  margin-left: 8px;
}
