.container {
  position: relative;
}

.content {
  font-size: 10px;
  position: absolute;
  top: 36px;
  right: -12px;
  border: 1px solid var(--border-color);
  padding: 16px 24px;
  padding-top: 8px;
  background: var(--popup-bg-color);
  min-width: 320px;
  z-index: var(--z-index-popup);
}

.label {
  display: flex;
  align-items: center;
  font-size: 10px;
  margin: 16px 0;
}

.label .icon {
  margin-right: 4px;
}

.item {
  display: flex;
  align-items: center;
  padding: 4px 0;
}

.option {
  padding: 4px 0;
  padding-left: 16px;
}

.item input {
  margin-right: 8px;
}

.dateFields {
  margin-bottom: 8px;
}

.dateFieldsInput {
  margin: 4px 0;
  width: 100%;
  padding: 4px;
  border: 1px solid #eaeaea;
}

.searchForm {
  width: 100%;
  padding: 4px;
  border: 1px solid #eaeaea;
}

.selector {
  width: 100%;
  border: 1px solid #eaeaea;
  padding: 4px;
  margin: 4px 0;
}

.direction {
  padding: 16px;
}

.direction input {
  margin-right: 8px;
  margin-bottom: 8px;
}

.footer {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}

.submit {
  cursor: pointer;
  padding: 4px 16px;
  margin-right: 4px;
  background: var(--primary-color);
  border: 0;
  color: var(--font-color-light);
}

.cancel {
  cursor: pointer;
  padding: 4px 16px;
  background: var(--font-color-light);
  border: 1px solid var(--border-color);
}

.statusesContainer {
  margin-top: 4px;
  display: flex;
  align-items: center;
}

.statusesLabel {
  margin-right: 8px;
}

.statuses {
  display: flex;
  padding: 8px 0;
}

.status {
  margin-right: 8px;
}

.statusLabel {
  display: flex;
  align-items: center;
}

.status input {
  display: inline-block;
  margin-right: 4px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}
