.content {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
  min-height: 1000px;
  width: 100%;
}

.form {
  position: relative;
  width: 400px;
  margin: auto;
  padding: 32px 16px;
  border-radius: 4px;
}

.formTitle {
  margin: 32px 0;
  font-weight: normal;
  font-size: 14px;
}

.formSubtitle {
  font-weight: normal;
  display: inline-block;
  font-size: 14px;
}

.inputField {
  margin: 0 0;
}

.input {
  padding: 16px !important; /* Override the padding from the input component */
}

.field {
  margin: 16px 0;
}

.details {
  margin: 16px 0;
}

.copy {
  font-size: 28px;
  margin-bottom: 64px;
}

.link {
  color: var(--info-color);
  border-bottom: 1px solid var(--info-color);
}

.errorMessage {
  color: var(--danger-color);
}
